.about {
    height: calc(100vh);
    margin: 0 auto;
    padding-top: 100px;
    width: 80%;
}

.about__title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.separator {
    color: #fca311;
    display: block;
    margin-bottom: 40px;
    line-height: 0;
    text-align: center;
}

.about__container {
    /*flex*/
    display: flex;
    flex-direction: row;
}

.about__images {
    position: relative;
    width: 50%;
}

.about__images--background {
    width: 100%;
}

.about__content {
    padding-left: 80px;
    width: 50%;
}

.about__text {
    margin-bottom: 20px;
}

.about__text h3 {
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.about__text p {
    color: rgb(156, 156, 156);
    line-height: 1.6rem;
}

.about__links a {
    font-size: 1.5rem;
    margin-right: 5px;
}

.fa-linkedin {
    color: #fca311;
}

.fa-envelope-square {
    color: #fca311;
}