.card {
    text-align: justify;
}

.card i,
.card h3 {
    text-align: center;
}

.card i {
    display: block;
    font-size: 5rem;
    margin-bottom: 40px;
}

.card h3 {
    color: rgb(146, 146, 146);;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.card p {
    color: #3a3a3a;
}
