.contact {
    height: 100vh;
    padding-top: 100px;
}

.contact__title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.contact__form {
    margin: 0 auto;
    width: 40%;
}

.contact__form p {
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.contact__inputs {
    /*flex*/
    display: flex;
    flex-direction: row;
}

.contact__inputs input {
    border: none;
    border-bottom: 2px solid rgb(184, 184, 184);
    color: black;
    font-size: 1rem;
    font-family: "mulish", sans-serif;
    margin-bottom: 40px;
    outline: none;
    padding: 10px 20px;

    /*flex*/
    flex-grow: 1;
}

.contact__inputs input:focus {
    border-bottom: 2px solid black;
}

.contact__inputs input::placeholder {
    color: rgb(184, 184, 184);
}

.contact__textarea {
    border: none;
    border-bottom: 2px solid rgb(184, 184, 184);
    color: #3a3a3a;
    font-size: 1rem;
    font-family: "mulish", sans-serif;
    height: 100px;
    margin-bottom: 40px;
    outline: none;
    padding: 10px 20px;
    width: 100%;
}

.contact__textarea::placeholder {
    color: rgb(184, 184, 184);
}

.contact__textarea:focus {
    border-bottom: 2px solid black;
}

.contact button {
    background-color: #fca311;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: .8rem;
    font-weight: 800;
    margin: 0 auto;
    padding: 10px 20px;
    transition: box-shadow 250ms ease;
    text-transform: uppercase;
    width: 150px;
}

.contact button:hover {
    box-shadow: 3px 3px 3px silver;
}

@media screen and (max-width: 1200px) {

    .contact__form {
        margin: 0 auto;
        width: 60%;
    }    

}

@media screen and (max-width: 900px) {

    .contact {
        height: auto;
        margin-bottom: 100px;
    }

    .contact__form {
        margin: 0 auto;
        width: 70%;
    }    

}

@media screen and (max-width: 768px) {

    .contact {
        height: auto;
        margin-bottom: 100px;
    }
    
    .contact__title {
        font-size: 2rem;
    }
    
    .contact__form {
        margin: 0 auto;
        width: 90%;
    }
    
    .contact__form p {
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .contact__inputs {
        /*flex*/
        display: flex;
        flex-direction: column;
    }
    
    .contact__inputs input {
        border: none;
        border-bottom: 2px solid rgb(184, 184, 184);
        color: black;
        font-size: 1rem;
        font-family: "mulish", sans-serif;
        margin-bottom: 40px;
        outline: none;
        padding: 10px 20px;
    
        /*flex*/
        flex-grow: 1;
    }

}