.footer {
    height: 100px;

    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    color: gray;
    font-size: .8rem;
    font-weight: 400;
}