.main {
    height: calc(100vh - 60);
    margin: 0 auto;
    padding-top: 100px;
    width: 60%;
}

.main__title {
    font-size: 2rem;
    margin-bottom: 80px;
    text-align: center;
}

.main__cards {
    /*grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

