.main {
    height: calc(100vh);
    margin: 0 auto;
    padding-top: 100px;
    width: 80%;
}

.main__title {
    font-size: 3rem;
    margin-bottom: 100px;
    text-align: center;
}

.main__cards {
    /*grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

