.main {
    height: calc(100vh - 60);
    margin: 0 auto;
    padding-top: 100px;
    width: 60%;
}

.main__title {
    font-size: 2rem;
    margin-bottom: 80px;
    text-align: center;
}

.main__cards {
    /*grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.main__card {
    text-align: justify;
}

.main__card i,
.main__card h3 {
    text-align: center;
}

.main__card i {
    display: block;
    font-size: 5rem;
    margin-bottom: 40px;
}

.main__card h3 {
    color: black;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.main__card p {
    color: #3a3a3a;
}
