.services {
    height: calc(100vh);
    margin: 0 auto;
    padding-top: 100px;
    width: 80%;
}

.services__title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.separator {
    color: #fca311;
    display: block;
    margin-bottom: 20px;
    line-height: 0;
    text-align: center;
}

.services__subtitle {
    color: rgb(156, 156, 156);
    margin-bottom: 60px;
    text-align: center;
}

.services__cards {
    /*grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .services {
        height: auto;
    }

    .services__cards {
        /*grid*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .services {
        height: auto;
        width: 90%;
    }

    .services__cards {
        /*grid*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 900px) {
    .services {
        height: auto;
        width: 90%;
    }

    .services__cards {
        /*grid*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .services {
        height: auto;
        width: 90%;
    }

    .services__title {
        font-size: 2rem;
    }

    .services__subtitle {
        color: rgb(156, 156, 156);
        margin-bottom: 60px;
        text-align: center;
    }

    .services__cards {
        /*grid*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}
