* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.app {
}

.fa-arrow-up {
  font-size: 2rem;
}














/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */